<div class="col-lg-12 col-md-12 col-12">
    <!-- Start Single Item -->
    <div class="single-item-grid" *ngFor="let room of meetingroom ">
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-5 col-12">
          <div class="content">
            <a href="javascript:void(0)" class="tag">Meeting Room</a>
            <h3 class="title">
              <a href="item-details.html">{{ room.name }}</a>
            </h3>
            <div>
              <ul class="price">Capacity: {{ room.capacity }}</ul>
    
              <ul class="price">Price {{ room.price }}</ul>
              <ul class="price">Description: {{ room.description }} </ul>
            </div>
             
            <br>
            <button class="btn btn-danger" (click)="deleteRoom(room._id)">Delete</button>
            <button [routerLink]="['/dashboard/updateroom/',room._id]" class="btn btn-primary">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>